.first-nav-bar {
    justify-content: space-between;
    background-color: rgb(177, 177, 177);
    
}

.btn-outline-success {
    background-color: rgb(177, 177, 177);
}

.btn-outline-success i {
    color: #fff;
}

#logo {
    height: 100px;
}